body {
    margin: 0;
    padding: 0;
}

#header {
    border-bottom: 10px solid #ccc;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 16px;
}

.logo {
    max-width: 140px;
}

.logo-img {
    max-width: 100%;
}

.menu-links {
    display: inline-flex;
    list-style-type: none;
    align-items: center;
    padding-left: 0;
}

.menu-links li {
    margin-right: 24px;
}

.menu-links li a {
    text-decoration: none;
    color: black;
    transition: 0.4s;
    display: flex;
}
.menu-links li a:hover {
    transform: translateY(-2px);
}