body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#header {
    border-bottom: 2px solid black;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 16px;
    background-color: #ccc;
}

.logo {
    max-width: 140px;
}

.logo-img {
    max-width: 100%;
    margin-left: 24px;
}

.menu-links {
    display: inline-flex;
    list-style-type: none;
    align-items: center;
    padding-left: 0;
}

.menu-links li {
    margin-right: 24px;
}

.menu-links li a {
    text-decoration: none;
    color: black;
    transition: 0.4s;
    display: flex;
}
.menu-links li a:hover {
    transform: translateY(-2px);
}

.imagem-fixa {
    max-width: 350px;
}

.imagem-fixa-01 {
    max-width: 100%;
    margin-top: 50px;
    margin-left: 100px;
    border-bottom: 5px solid black;
    justify-content: center;

}
